
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font: 400 1em/1.2em Arial, Tahoma, sans-serif;
  color: #fff;
}

.mid {
  width: 1000px;
  margin: 0 auto;
}

.viz {
  opacity: 1;
  transition: 1s;
}

.number {
  font-size: 2em;
  padding: 0 0 25px;
  font-weight: bold;
  opacity: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

article{
    background-image: url(../img/41263304_m-1-.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
}


statistic>h2{
    color: #323e4f;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 90px auto;
    font-family: 'FranklinGM', sans-serif;
}

.b1{
    float: left;
    margin-left: 70px;
    margin-top: 70px;
    padding-bottom: 30px;
    color: #384354;
    font-family: 'FranklinGM', sans-serif;
}


.stat h3{
    padding: 13px 0 5px 0;
    font-size: 28px;
}

footer{
    height: 800px;
    background: #3d3d3d;
}