%heading {
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

%button {
    background: none;
    width: 230px;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid rgb(204, 26, 26);
    border-radius: 10px;
}
.register-blank, .entrance-blank{
    height: 600px;
    width: 500px;
    margin: 80px auto;
    h1{
        @extend %heading;
    }
    .form{
        column-count: 1;
        column-width: 1000px;
        input{
            height: 40px;
            width: 100%;
            font-size: 20px;
            margin: 25px auto;
            padding-left: 15px;
            border-bottom: 1px solid rgb(204, 26, 26);
        }
    }
    span{
        display: inline-block;
        width: 270px;
        height: 20px;
        text-align: end;
        font-size: 18px;
    }
    .registration{
        @extend %button;
        float: left;
        margin-top: 35px;
        text-decoration: none;
        color: black
    }
    .to-entrance-button{
        @extend %button;
        margin-left: 40px;
    }
    .left-arrow-1, .left-arrow-2{
        width: 35px;
        margin-bottom: 50px;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            transition: 0.2s;
        }
    }
    .entrance-button, .entrance-button-1{
        @extend %button;
        width: 100%;
    }
}
.entrance-blank{
    .miniform{
        display: none;
        position: relative;
        z-index: 40;
        width: 420px;
        height: 150px;
        background: rgb(255, 255, 255);
        border: 1px solid rgba(254,128,21,0.7);
        border-radius: 10px;
        text-align: center;
        margin-top: 30px;
        margin-left: 200px;
        span{
          font-size: 25px;
          width: 100%;
          margin: 20px 0;
          text-align: center;
        }
        button{
            border: 1px solid rgb(204, 26, 26);
            margin: 25px 18px;
            border-radius: 10px;
            width: 155px;
            height: 36px;
            background: none;
            font-size: 18px;
          }
    }
    .registration{
        @extend %button;
        float: left;
        padding-top: 10px;
        text-align: center;
    }
    margin: 200px auto !important;

}

